$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-white-color: #ffffff;
$font-black-color: #000;
$bg-color: #E8F0F2;
$bg-white-color: #ffffff;
$bg-purple-color: #7C4DFF;
$border-color: lightgrey;
$menu-width-desktop: 200px;
$menu-height-mobile: 100px;
$gap: 20px;
$breakpoint-small: 768px;

@mixin alignFlex($justify-content){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $justify-content;
}

@mixin cardBox() {
  display: grid;
  grid-template-columns: 50px auto 75px 45px;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 3px;
  padding: 10px;
  background: $bg-white-color;
  border: 1px solid $border-color;
}